{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-duplicate-imports": "error",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "no-console": "warn",
    "func-names": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
